a {
  text-decoration: none !important;
}

.logo {
    font-size: 50px !important;
}



.formulario {
   margin-top: 80px;
}

.loginForm li {
   width: 200px !important;
}

@media only screen and (min-width: 600px) {
  .logo {
    font-size: 70px !important;
  }

  .divForm {
    width: 100% !important;
  }


}

