{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>

    <title>Home</title>
</head>
<body>
    <div class="body">
        <div class="container mt-3 bg-light">

            <nav class="menu d-flex justify-content-between align-items-center bg-light p-3 rounded">
                <a href="#" class="display-4"><span class="text-secondary">My</span>Task</a>

                <div class="btn-sair p-2 text-white">
                    <button class="btn btn-primary">Get out<i class="fas fa-door-open ml-1"></i></button>
                </div>
            </nav>

            <hr>

            <!-- Botões da categorias -->
            <div class="d-flex justify-content-between p-3">

                <button class="btn btn-primary text-uppercase d-flex flex-column p-4 align-items-center ">
                    <i class="fas fa-tasks display-1"></i>Todas
                </button>

                <button class="btn btn-primary text-uppercase d-flex flex-column p-4 align-items-center ">
                    <i class="fas fa-home display-1"></i>Casa
                </button>
                <button class="btn btn-primary text-uppercase d-flex flex-column p-4 align-items-center ">
                    <i class="fas fa-briefcase display-1"></i>Trabalho
                </button>
                <button class="btn btn-primary text-uppercase d-flex flex-column p-4 align-items-center ">
                    <i class="fas fa-graduation-cap display-1"></i>Escola
                </button>
                <button class="btn btn-primary text-uppercase d-flex flex-column p-4 align-items-center ">
                    <i class="fas fa-dollar-sign display-1"></i>Contas
                </button>

            </div>
            <!-- Listar tarefas -->
            <div>

                <ul class="nav nav-tabs nav-pills">


                    <li class="nav-item">
                        <a href="#" class="nav-link ">Tarefas em andamento</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">Tarefas concluídas</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'nova' %}" class="nav-link "><i class="fas fa-plus-circle mr-2"></i>Adicionar</a>
                    </li>

                </ul>

            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tarefa</th>
                        <th>Dia</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    {% for taf in tarefas %}
                    <tr>
                        <td><a href="{% url 'tarefa' taf.id %}">{{ taf.nome_tarefa }}</a></td>
                        <td>{{ taf.dia }}</td>
                        <td>{{ taf.descricao }}</td>
                        <td>{{ taf.categoria }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>

        </div>

    </div>

</body>
</html>