{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">

    <script src="{% static 'js/scripts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>

    <title>Login</title>
</head>
<body>
        <div class="container mt-4">
            <nav class="menu d-flex justify-content-between align-items-center bg-light p-3 rounded">
                <a href="#" class="logo"><span class="text-secondary">My</span>Task</a>
            </nav>
            <hr>
            <div class="divForm d-flex justify-content-center mb-4" style="margin-top: 30px">
                <form class="w-50" method="post">
                        {% csrf_token %}
                      {{ form|crispy }}
                    <div>
                    <button type="submit" class="btn btn-secondary mt-3 mr-3">Entrar</button>
                       <a href="{% url 'cadastro' %}" class="btn btn-primary mt-3">Cadastrar</a>
                       <a href="{% url 'reset_password' %}" class="d-flex align-items-center mt-4">Esquecir a senha</a>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <div class="w-50 d-flex justify-content-between">
                    <h3><i class="fas fa-home text-primary"></i></h3>
                    <h3><i class="fas fa-tasks text-primary"></i></h3>
                    <h3><i class="fas fa-file-invoice-dollar text-primary"></i></h3>
                    <h3><i class="fas fa-paw text-primary"></i></h3>
                    <h3><i class="fas fa-map-marked-alt text-primary"></i></h3>
                </div>
            </div>

            <footer class="d-flex justify-content-center text-black-50"><strong class="mt-4">By Heitor</strong></footer>

        </div>
</body>
</html>